<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/zenjia/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="zenjia"/>
				<add key="ClearTextPassword" value="dd70115117054267f6e7b105668d8c2ca3fc8063" />
		</github>
	</packageSourceCredentials>
</configuration>